Repository skyrim-multiplayer/skymp, pull requests merged in 2021-11, with the labels that each got.

#433 feat(skymp5-front): add chat widget
  skymp5-front/docs/chat.md
  skymp5-front/src/App.js
  skymp5-front/src/components/SkyrimButton/index.js
  skymp5-front/src/components/SkyrimButton/styles.scss
  skymp5-front/src/components/SkyrimInput/index.js
  skymp5-front/src/components/SkyrimInput/styles.scss
  skymp5-front/src/constructor.js
  skymp5-front/src/constructor.scss
  skymp5-front/src/constructorComponents/chat/index.js
  skymp5-front/src/constructorComponents/chat/styles.scss
  skymp5-front/src/features/login/styles.scss
  skymp5-front/src/index.js
Labels: area:front

#455 feat: add client-side death sync
  skymp5-client/src/animation.ts
  skymp5-client/src/deathSystem.ts
  skymp5-client/src/errors.ts
  skymp5-client/src/index.ts
  skymp5-client/src/model.ts
  skymp5-client/src/movement.ts
  skymp5-client/src/movementApply.ts
  skymp5-client/src/movementGet.ts
  skymp5-client/src/remoteServer.ts
  skymp5-client/src/skympClient.ts
  skymp5-client/src/utils.ts
  skymp5-client/src/view.ts
  skymp5-server/cpp/mp_common/MovementMessage.h
  skymp5-server/cpp/mp_common/MovementMessageSerialization.cpp
  unit/MovementSerializationTest.cpp
Labels: area:client

#531 feat(skymp5-front): rewrite SkyrimHint in TS
  skymp5-front/.eslintrc.js
  skymp5-front/src/components/SkyrimHint/SkyrimHint.scss
  skymp5-front/src/components/SkyrimHint/SkyrimHint.tsx
  skymp5-front/src/components/SkyrimHint/index.js
  skymp5-front/src/constructor.js
  skymp5-front/src/interfaces/buttons.ts
  skymp5-front/src/interfaces/index.ts
Labels: area:front

#532 fix(skymp5-front): rewrite ImageButton, SkyrimButton to TypeScript, fix interfaces for other buttons
  skymp5-front/src/components/FrameButton/index.tsx
  skymp5-front/src/components/ImageButton/ImageButton.tsx
  skymp5-front/src/components/ImageButton/SkyrimButton.scss
  skymp5-front/src/components/ImageButton/index.js
  skymp5-front/src/components/SkyrimButton/SkyrimButton.scss
  skymp5-front/src/components/SkyrimButton/SkyrimButton.tsx
  skymp5-front/src/components/SkyrimButton/index.js
  skymp5-front/src/components/SkyrimHint/SkyrimHint.tsx
  skymp5-front/src/constructorComponents/button/index.js
  skymp5-front/src/features/login/LoginForm.js
  skymp5-front/src/features/login/RegisterForm.js
  skymp5-front/src/index.js
  skymp5-front/src/interfaces/buttons.ts
Labels: area:front

#534 feat(skymp5-front): rewrite SkyrimFrame in TS
  skymp5-front/src/components/SkyrimFrame/SkyrimFrame.scss
  skymp5-front/src/components/SkyrimFrame/SkyrimFrame.tsx
  skymp5-front/src/components/SkyrimFrame/index.js
  skymp5-front/src/constructor.js
  skymp5-front/src/interfaces/buttons.ts
Labels: area:front

#478 internal: replace npm with yarn
  README.md
  cmake/yarn.cmake
  skymp5-client/.gitignore
  skymp5-client/CMakeLists.txt
  skymp5-client/package-lock.json
  skymp5-client/yarn.lock
  skymp5-front/.gitignore
  skymp5-front/CMakeLists.txt
  skymp5-front/README.md
  skymp5-front/package-lock.json
  skymp5-front/package.json
  skymp5-front/yarn.lock
  skymp5-functions-lib/CMakeLists.txt
  skymp5-functions-lib/README.md
  skymp5-functions-lib/package-lock.json
  skymp5-functions-lib/yarn.lock
  skymp5-server/CMakeLists.txt
  skymp5-server/package-lock.json
  skymp5-server/ts/CMakeLists.txt
  skymp5-server/yarn.lock
  skyrim-platform/src/platform_se/CMakeLists.txt
  skyrim-platform/tools/dev_service/package-lock.json
  skyrim-platform/tools/dev_service/package.json
  skyrim-platform/tools/dev_service/yarn.lock
  skyrim-platform/tools/plugin-example/README.md
  skyrim-platform/tools/plugin-example/package-lock.json
  skyrim-platform/tools/plugin-example/yarn.lock
  skyrim-platform/tools/system_polyfill/package-lock.json
  skyrim-platform/tools/system_polyfill/yarn.lock
  unit/DistContentsExpected.json
Labels: area:front

#504 feat: add respawn message
  skymp5-client/src/actorvalues.ts
  skymp5-client/src/deathSystem.ts
  skymp5-client/src/index.ts
  skymp5-client/src/messages.ts
  skymp5-client/src/movement.ts
  skymp5-client/src/msgHandler.ts
  skymp5-client/src/remoteServer.ts
  skymp5-client/src/skympClient.ts
  skymp5-server/cpp/mp_common/MsgType.h
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
  skymp5-server/cpp/server_guest_lib/MpActor.h
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.h
  unit/RespawnTest.cpp
Labels: area:client, area:server

#533 refact(skymp5-front): rewrite SkyrimInput in TS
  skymp5-front/.eslintrc.js
  skymp5-front/src/components/FrameButton/FrameButton.scss
  skymp5-front/src/components/FrameButton/FrameButton.tsx
  skymp5-front/src/components/FrameButton/index.js
  skymp5-front/src/components/ImageButton/ImageButton.tsx
  skymp5-front/src/components/SkyrimButton/SkyrimButton.tsx
  skymp5-front/src/components/SkyrimFrame/SkyrimFrame.tsx
  skymp5-front/src/components/SkyrimInput/SkyrimInput.scss
  skymp5-front/src/components/SkyrimInput/SkyrimInput.tsx
  skymp5-front/src/components/SkyrimInput/index.js
  skymp5-front/src/constructor.js
  skymp5-front/src/constructorComponents/button/index.js
  skymp5-front/src/interfaces/buttons.ts
  skymp5-front/src/interfaces/index.ts
  skymp5-front/src/interfaces/inputs.ts
Labels: area:front

#462 feat(skymp5-front): add Storybook
  skymp5-front/.storybook/main.js
  skymp5-front/.storybook/preview.js
  skymp5-front/package.json
  skymp5-front/src/components/FrameButton/FrameButton.scss
  skymp5-front/src/components/FrameButton/FrameButton.stories.tsx
  skymp5-front/src/components/FrameButton/FrameButton.tsx
  skymp5-front/src/components/FrameButton/img/button_middle.svg
  skymp5-front/src/components/FrameButton/img/button_middle_disabled.svg
  skymp5-front/src/components/FrameButton/img/skyrim_button_end.svg
  skymp5-front/src/components/FrameButton/img/skyrim_button_end_disabled.svg
  skymp5-front/src/components/FrameButton/img/skyrim_button_start.svg
  skymp5-front/src/components/FrameButton/img/skyrim_button_start_disabled.svg
  skymp5-front/src/components/ImageButton/ImageButton.tsx
  skymp5-front/src/components/ImageButton/SkyrimButton.scss
  skymp5-front/src/components/SkyrimButton/SkyrimButton.scss
  skymp5-front/src/components/SkyrimInput/SkyrimInput.scss
  skymp5-front/src/features/animList/index.js
  skymp5-front/src/features/animList/styles.sass
  skymp5-front/src/features/animList/styles.scss
  skymp5-front/src/features/chat/index.js
  skymp5-front/src/features/chat/styles.sass
  skymp5-front/src/features/chat/styles.scss
  skymp5-front/src/features/login/styles.scss
  skymp5-front/src/globals.d.ts
  skymp5-front/src/index.js
  skymp5-front/src/main.sass
  skymp5-front/src/main.scss
  skymp5-front/src/stories/Introduction.stories.mdx
  skymp5-front/src/stories/assets/code-brackets.svg
  skymp5-front/src/stories/assets/colors.svg
  skymp5-front/src/stories/assets/comments.svg
  skymp5-front/src/stories/assets/direction.svg
  skymp5-front/src/stories/assets/flow.svg
  skymp5-front/src/stories/assets/plugin.svg
  skymp5-front/src/stories/assets/repo.svg
  skymp5-front/src/stories/assets/stackalt.svg
  skymp5-front/webpack.config.ts
  skymp5-front/yarn.lock
  unit/DistContentsExpected.json
Labels: area:front
