Repository skyrim-multiplayer/skymp, pull requests merged in 2022-01, with the labels that each got.

#722 feat(skymp5-server): make server builds portable
  skymp5-server/CMakeLists.txt
  skymp5-server/cpp/addon/main.cc
  skymp5-server/package.json
  skymp5-server/yarn.lock
  unit/DistContentsExpected.json
Labels: merge-to:indev

#744 fix(skymp5-front): improve chat compatibility to widgets.set
  skymp5-front/.eslintrc.js
  skymp5-front/package.json
  skymp5-front/src/App.js
  skymp5-front/src/components/SkyrimHint/SkyrimHint.scss
  skymp5-front/src/constructor.js
  skymp5-front/src/constructorComponents/chat/index.js
  skymp5-front/src/constructorComponents/text/styles.scss
  skymp5-front/src/globals.d.ts
  skymp5-front/src/index.js
  skymp5-front/src/interfaces/buttons.ts
  skymp5-front/src/interfaces/inputs.ts
  skymp5-front/src/utils/Widgets.js
Labels: area:front

#827 fix(skymp5-client): fix bug when nicknames render when other player is behind
  skymp5-client/src/index.ts
  skymp5-client/src/view.ts
Labels: area:client

#842 fix(skymp5-functions-lib): disable round actions confirmation
  skymp5-functions-lib/src/logic/SweetPieGameModeListener.test.ts
  skymp5-functions-lib/src/logic/SweetPieGameModeListener.ts
Labels: merge-to:indev

#840 fix(skymp5-client): fix nickname "unordered_map" error
  skymp5-client/src/view.ts
Labels: area:client, merge-to:indev

#849 feat(skymp5-client): remove weather control
  skymp5-client/src/index.ts
Labels: area:client, merge-to:indev

#841 feat(skymp5-client): prevent character movement during auth
  skymp5-client/src/authSystem.ts
  skymp5-client/src/index.ts
Labels: area:client, merge-to:indev

#890 feat(skymp5-server): update pie script 2
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
  skymp5-server/cpp/server_guest_lib/PieScript.cpp
  skymp5-server/cpp/server_guest_lib/PieScript.h
Labels: merge-to:indev

#893 fix: browser and client auth issues
  skymp5-client/src/authSystem.ts
  skymp5-client/src/browser.ts
  skymp5-client/src/index.ts
  skymp5-front/src/index.js
Labels: merge-to:indev
