Repository skyrim-multiplayer/skymp, pull requests merged in 2023-07, with the labels that each got.

#1518 feat(skymp5-server): implement ObjectReference.Enable
  skymp5-server/cpp/server_guest_lib/PapyrusObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusObjectReference.h
Labels: merge-to:indev

#1528 feat(skymp5-server): implement Actor.SetDontMove Papyrus function
  skymp5-server/cpp/server_guest_lib/PapyrusActor.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusActor.h
Labels: merge-to:indev

#1530 fix(skymp5-server): relax workbench base type check
  skymp5-server/cpp/server_guest_lib/ActionListener.cpp
Labels: merge-to:indev

#1531 feat: sync spell tomes & add server-side spell list
  libespm/include/libespm/espm.h
  libespm/src/espm.cpp
  package-lock.json
  skymp5-client/src/modelSource/remoteServer.ts
  skymp5-client/src/skympClient.ts
  skymp5-client/src/sync/equipment.ts
  skymp5-client/src/sync/spell.ts
  skymp5-client/src/view/worldView.ts
  skymp5-server/cpp/server_guest_lib/ActionListener.cpp
  skymp5-server/cpp/server_guest_lib/ActionListener.h
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
  skymp5-server/cpp/server_guest_lib/MpActor.h
  skymp5-server/cpp/server_guest_lib/MpChangeForms.cpp
  skymp5-server/cpp/server_guest_lib/MpChangeForms.h
  skymp5-server/cpp/server_guest_lib/PacketParser.cpp
  unit/PartOne_ActorTest.cpp
  yarn.lock
Labels: merge-to:indev

#1534 fix(skymp5-server): stop passing double activation to Papyrus
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
Labels: merge-to:indev

#1541 fix(skymp5-server): revert "stop passing double activation to Papyrus"
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
Labels: merge-to:indev

#1545 fix(skymp5-server): consumable items are being added back to the inventory
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
Labels: area:server

#1548 fix(skymp5-functions-lib): disable eval property for NPCs
  skymp5-functions-lib/src/props/evalProperty.ts
Labels: merge-to:indev

#1529 feat(skymp5-server): implement Keyword.getKeyword
  libespm/src/espm.cpp
  skymp5-server/cpp/server_guest_lib/IPapyrusClass.h
  skymp5-server/cpp/server_guest_lib/PapyrusActor.h
  skymp5-server/cpp/server_guest_lib/PapyrusDebug.h
  skymp5-server/cpp/server_guest_lib/PapyrusEffectShader.h
  skymp5-server/cpp/server_guest_lib/PapyrusForm.h
  skymp5-server/cpp/server_guest_lib/PapyrusFormList.h
  skymp5-server/cpp/server_guest_lib/PapyrusGame.h
  skymp5-server/cpp/server_guest_lib/PapyrusKeyword.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusKeyword.h
  skymp5-server/cpp/server_guest_lib/PapyrusMessage.h
  skymp5-server/cpp/server_guest_lib/PapyrusObjectReference.h
  skymp5-server/cpp/server_guest_lib/PapyrusSkymp.h
  skymp5-server/cpp/server_guest_lib/PapyrusUtility.h
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
Labels: merge-to:indev

#1566 fix(skymp5-server): fix MpChangeForm::ToTuple to respect learnedSpells #1559
  skymp5-server/cpp/server_guest_lib/MpChangeForms.h
Labels: area:server

#1560 feat: add consoleCommandsAllowed property & attach it to Discord roles
  skymp5-functions-lib/index.ts
  skymp5-functions-lib/src/logic/listeners/consoleCommandsSystem.ts
  skymp5-server/cpp/addon/ScampServer.cpp
  skymp5-server/cpp/addon/property_bindings/ConsoleCommandsAllowedBinding.cpp
  skymp5-server/cpp/addon/property_bindings/ConsoleCommandsAllowedBinding.h
  skymp5-server/cpp/addon/property_bindings/PropertyBindingFactory.cpp
  skymp5-server/cpp/server_guest_lib/ConsoleCommands.cpp
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
  skymp5-server/cpp/server_guest_lib/MpActor.h
  skymp5-server/cpp/server_guest_lib/MpChangeForms.cpp
  skymp5-server/cpp/server_guest_lib/MpChangeForms.h
  unit/ActorTest.cpp
  unit/ConsoleCommandTest.cpp
Labels: merge-to:indev

#1570 refact(skymp5-server): remove unnecessary worldState argument passed in papyrus classes & use policy to retrieve it instead
  skymp5-server/cpp/server_guest_lib/IPapyrusClass.h
  skymp5-server/cpp/server_guest_lib/PapyrusActor.h
  skymp5-server/cpp/server_guest_lib/PapyrusDebug.h
  skymp5-server/cpp/server_guest_lib/PapyrusEffectShader.h
  skymp5-server/cpp/server_guest_lib/PapyrusForm.h
  skymp5-server/cpp/server_guest_lib/PapyrusFormList.h
  skymp5-server/cpp/server_guest_lib/PapyrusGame.h
  skymp5-server/cpp/server_guest_lib/PapyrusKeyword.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusKeyword.h
  skymp5-server/cpp/server_guest_lib/PapyrusMessage.h
  skymp5-server/cpp/server_guest_lib/PapyrusObjectReference.h
  skymp5-server/cpp/server_guest_lib/PapyrusSkymp.h
  skymp5-server/cpp/server_guest_lib/PapyrusUtility.h
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
Labels: area:server

#1499 feat(skymp5-server): add rate and mult actor values support & add basic magic effects support
  libespm/include/libespm/espm.h
  libespm/src/espm.cpp
  savefile/src/SFChangeFormACHR.cpp
  skymp5-server/cpp/addon/property_bindings/ProfileIdBinding.cpp
  skymp5-server/cpp/mp_common/JsonUtils.h
  skymp5-server/cpp/server_guest_lib/ActionListener.cpp
  skymp5-server/cpp/server_guest_lib/ActiveMagicEffectsMap.cpp
  skymp5-server/cpp/server_guest_lib/ActiveMagicEffectsMap.h
  skymp5-server/cpp/server_guest_lib/ActorValues.cpp
  skymp5-server/cpp/server_guest_lib/ActorValues.h
  skymp5-server/cpp/server_guest_lib/CropRegeneration.cpp
  skymp5-server/cpp/server_guest_lib/CropRegeneration.h
  skymp5-server/cpp/server_guest_lib/GetBaseActorValues.cpp
  skymp5-server/cpp/server_guest_lib/GetBaseActorValues.h
  skymp5-server/cpp/server_guest_lib/MathUtils.cpp
  skymp5-server/cpp/server_guest_lib/MathUtils.h
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
  skymp5-server/cpp/server_guest_lib/MpActor.h
  skymp5-server/cpp/server_guest_lib/MpChangeForms.cpp
  skymp5-server/cpp/server_guest_lib/MpChangeForms.h
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusForm.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusUtility.cpp
  skymp5-server/cpp/server_guest_lib/SweetPieScript.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.h
  unit/CropRegenerationTest.cpp
  viet/include/TimeUtils.h
  viet/include/Timer.h
  viet/src/TimeUtils.cpp
  viet/src/Timer.cpp
Labels: area:server, merge-to:indev

#1575 feat(skymp5-server): increase spawn delay
  skymp5-server/cpp/server_guest_lib/MpChangeForms.h
Labels: merge-to:indev

#1568 feat(skymp5-functions-lib): move gamemode to private repo
  skymp5-functions-lib/.assetWrapper.js
  skymp5-functions-lib/.eslintrc
  skymp5-functions-lib/CMakeLists.txt
  skymp5-functions-lib/README.md
  skymp5-functions-lib/download.cmake
  skymp5-functions-lib/jest.config.js
  skymp5-functions-lib/package.json
  skymp5-functions-lib/src/logic/PlayerController.ts
  skymp5-functions-lib/src/logic/TestUtils.ts
  skymp5-functions-lib/src/logic/listeners/GameModeListener.ts
  skymp5-functions-lib/src/logic/listeners/chatSystem.ts
  skymp5-functions-lib/src/logic/listeners/commands/command.ts
  skymp5-functions-lib/src/logic/listeners/commands/kickCommand.ts
  skymp5-functions-lib/src/logic/listeners/commands/killCommand.ts
  skymp5-functions-lib/src/logic/listeners/commands/kitCommand.ts
  skymp5-functions-lib/src/logic/listeners/commands/listCommand.ts
  skymp5-functions-lib/src/logic/listeners/commands/rollCommand.ts
  skymp5-functions-lib/src/logic/listeners/commands/skillCommand.ts
  skymp5-functions-lib/src/logic/listeners/commands/skillDiceCommand.ts
  skymp5-functions-lib/src/logic/listeners/commands/timedRewardConfirmCommand.ts
  skymp5-functions-lib/src/logic/listeners/commands/tpCommand.ts
  skymp5-functions-lib/src/logic/listeners/consoleCommandsSystem.ts
  skymp5-functions-lib/src/logic/listeners/deathSystem.ts
  skymp5-functions-lib/src/logic/listeners/doorActivation/index.ts
  skymp5-functions-lib/src/logic/listeners/harvestingSystem/index.ts
  skymp5-functions-lib/src/logic/listeners/sweetpie/SweetPieGameModeListener.test.ts
  skymp5-functions-lib/src/logic/listeners/sweetpie/SweetPieGameModeListener.ts
  skymp5-functions-lib/src/logic/listeners/sweetpie/SweetPieMap.ts
  skymp5-functions-lib/src/logic/listeners/sweetpie/SweetPieRound.test.ts
  skymp5-functions-lib/src/logic/listeners/sweetpie/SweetPieRound.ts
  skymp5-functions-lib/src/logic/listeners/sweettaffyTimedRewards/SweetTaffyTimedRewards.test.ts
  skymp5-functions-lib/src/logic/listeners/sweettaffyTimedRewards/SweetTaffyTimedRewards.ts
  skymp5-functions-lib/src/mpApiInteractor.ts
  skymp5-functions-lib/src/props/browserProperty.ts
  skymp5-functions-lib/src/props/carryAnimSystem.ts
  skymp5-functions-lib/src/props/chatProperty.ts
  skymp5-functions-lib/src/props/counterProperty.ts
  skymp5-functions-lib/src/props/dialogProperty.ts
  skymp5-functions-lib/src/props/disableCheats.ts
  skymp5-functions-lib/src/props/evalProperty.ts
  skymp5-functions-lib/src/props/refreshWidgets.ts
  skymp5-functions-lib/src/types/ctx.d.ts
  skymp5-functions-lib/src/types/mp.d.ts
  skymp5-functions-lib/src/types/settings.ts
  skymp5-functions-lib/src/utils/functionInfo.ts
  skymp5-functions-lib/src/utils/locationUtils.ts
  skymp5-functions-lib/src/utils/parseChatMessage.test.ts
  skymp5-functions-lib/src/utils/parseChatMessage.ts
  skymp5-functions-lib/src/utils/persistentStorage.ts
  skymp5-functions-lib/src/utils/timer.ts
  skymp5-functions-lib/tsconfig.json
  skymp5-functions-lib/yarn.lock
Labels: merge-to:indev

#1582 fix(skymp5-server): remove sweetpie edible items
  skymp5-server/cpp/server_guest_lib/SweetPieScript.cpp
  skymp5-server/cpp/server_guest_lib/SweetPieScript.h
Labels: area:server

#1591 fix(skymp5-server): active magic effects parsing
  skymp5-server/cpp/server_guest_lib/ActiveMagicEffectsMap.cpp
Labels: area:server

#1592 feat(skymp5-client): add the ability to adjust game time
  skymp5-client/src/index.ts
Labels: area:client

#1552 feat(skymp5-server): revert remove original NPCs spawn & add npc settings
  cmake/scripts/generate_server_settings.cmake
  docs/docs_server_configuration_reference.md
  libespm/include/libespm/espm.h
  libespm/src/Combiner.cpp
  libespm/src/espm.cpp
  skymp5-server/cpp/addon/ScampServer.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.h
  unit/LoadCellsTest.cpp
  unit/NpcExists.cpp
  unit/TestUtils.cpp
  unit/TestUtils.hpp
Labels: area:server

#1546 feat(skymp5-server): update sweetpiescript ids
  skymp5-server/cpp/server_guest_lib/SweetPieScript.cpp
Labels: area:server, merge-to:indev

#1604 feat(skymp5-server): add Form.GetFormId
  skymp5-server/cpp/server_guest_lib/PapyrusForm.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusForm.h
Labels: merge-to:indev

#1616 feat(skymp5-server): print actor id to Discord logs on login
  skymp5-server/ts/systems/login.ts
Labels: merge-to:indev

#1567 feat(skymp5-server): port remaining standard Papyrus functions from JS to C++
  skymp5-server/cpp/server_guest_lib/EspmGameObject.h
  skymp5-server/cpp/server_guest_lib/PapyrusActor.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusActor.h
  skymp5-server/cpp/server_guest_lib/PapyrusGame.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusGame.h
  skymp5-server/cpp/server_guest_lib/PapyrusObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusObjectReference.h
  skymp5-server/cpp/server_guest_lib/PapyrusUtility.cpp
  skymp5-server/cpp/server_guest_lib/PapyrusUtility.h
  unit/PapyrusActorTest.cpp
  unit/PapyrusGameTest.cpp
  unit/PapyrusObjectReferenceTest.cpp
  unit/PapyrusUtilityTest.cpp
Labels: area:server

#1612 fix(skymp5-server): do not remove books that do not contain spells on reading
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
  skymp5-server/cpp/server_guest_lib/MpActor.h
Labels: area:server, merge-to:indev

#1614 feat(skymp5-server): implement mp.set for profileId property
  skymp5-server/cpp/addon/property_bindings/ProfileIdBinding.cpp
  skymp5-server/cpp/addon/property_bindings/ProfileIdBinding.h
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
Labels: merge-to:indev

#1629 feat(skymp5-server): implement activate processing for torches
  libespm/include/libespm/LIGH.h
  libespm/include/libespm/Records.h
  libespm/src/LIGH.cpp
  libespm/src/Utils.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  unit/PartOne_ActivateTest.cpp
Labels: area:server, merge-to:indev

#1623 fix(skymp5-server): do not throw on baseId anomaly
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
  unit/WorldStateTest.cpp
Labels: merge-to:indev, merge-to:sweetpie

#1638 fix(skymp5-server): fix effect parsing
  skymp5-server/cpp/server_guest_lib/ActiveMagicEffectsMap.cpp
Labels: area:server

#1642 perf(skymp5-server): make GetServerSettings return previously parsed settings
  skymp5-server/cpp/addon/ScampServer.cpp
  skymp5-server/cpp/addon/ScampServer.h
Labels: area:server, merge-to:indev

#1643 perf(skymp5-server): save actor listeners separately
  skymp5-server/cpp/server_guest_lib/ActionListener.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.h
Labels: area:server, merge-to:indev

#1646 feat(skymp5-server): add log for activate
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
Labels: area:server, merge-to:indev

#1644 feat: make Discord ban real-time
  skymp5-server/cpp/addon/ScampServer.cpp
  skymp5-server/cpp/addon/ScampServer.h
  skymp5-server/cpp/addon/property_bindings/CustomPropertyBinding.cpp
  skymp5-server/cpp/addon/property_bindings/CustomPropertyBinding.h
  skymp5-server/cpp/server_guest_lib/DynamicFields.h
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.h
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.h
  skymp5-server/package.json
  skymp5-server/ts/index.ts
  skymp5-server/ts/scampNative.ts
  skymp5-server/ts/systems/discordBanSystem.ts
  skymp5-server/ts/systems/login.ts
  skymp5-server/ts/systems/spawn.ts
  skymp5-server/yarn.lock
Labels: merge-to:indev

#1645 feat(skymp5-server): add config settings that restricts reloot for specific items based on their record type
  docs/docs_server_configuration_reference.md
  skymp5-server/cpp/addon/ScampServer.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.h
Labels: area:server, merge-to:indev
