Repository skyrim-multiplayer/skymp, pull requests merged in 2023-09, with the labels that each got.

#1682 feat(skymp5-client): add more skill menu altars
  skymp5-client/src/features/skillMenu.ts
Labels: area:client, merge-to:indev

#1683 feat(skymp5-server): update ids
  skymp5-server/cpp/server_guest_lib/SweetPieScript.cpp
Labels: area:server, merge-to:indev

#1658 fix(skymp5-server): make SpSnippets auto-resolving when actor disables
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
  skymp5-server/cpp/server_guest_lib/MpActor.h
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.h
Labels: merge-to:indev

#1672 perf(skymp5-server): replace stringstream with standard C I/O functions
  skymp5-server/cpp/server_guest_lib/FormDesc.cpp
  skymp5-server/cpp/server_guest_lib/FormDesc.h
Labels: area:server, merge-to:indev

#1622 feat(skymp5-server): add id to timers
  skymp5-server/cpp/server_guest_lib/ActiveMagicEffectsMap.h
  skymp5-server/cpp/server_guest_lib/MpActor.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.h
  viet/CMakeLists.txt
  viet/include/Timer.h
  viet/src/Timer.cpp
Labels: area:server, merge-to:indev
