Repository skyrim-multiplayer/skymp, pull requests merged in 2024-04, with the labels that each got.

#1903 feat: add NetImmerse.SetNodeScale Papyrus native
  skymp5-client/src/services/messages/createActorMessage.ts
  skymp5-client/src/services/services/remoteServer.ts
  skymp5-server/cpp/server_guest_lib/MpChangeForms.cpp
  skymp5-server/cpp/server_guest_lib/MpChangeForms.h
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.h
  skymp5-server/cpp/server_guest_lib/script_classes/PapyrusNetImmerse.cpp
Labels: merge-to:indev

#1883 feat(skyrim-platform): add CloseMenu papyrus function
  docs/release/dev/sp-add-TESModPlatform-CloseMenu.md
  skyrim-platform/src/platform_se/pex/TESModPlatform.pex
  skyrim-platform/src/platform_se/psc/TESModPlatform.psc
  skyrim-platform/src/platform_se/skyrim_platform/PapyrusTESModPlatform.cpp
  skyrim-platform/src/platform_se/skyrim_platform/PapyrusTESModPlatform.h
Labels: area:skyrim-platform

#1880 feat(skymp5-server): add OnPutItem/OnTakeItem support
  libespm/include/libespm/ALCH.h
  libespm/include/libespm/AMMO.h
  libespm/include/libespm/BOOK.h
  libespm/include/libespm/INGR.h
  libespm/include/libespm/MISC.h
  libespm/include/libespm/Records.h
  libespm/include/libespm/SCRL.h
  libespm/include/libespm/SLGM.h
  libespm/src/ALCH.cpp
  libespm/src/AMMO.cpp
  libespm/src/BOOK.cpp
  libespm/src/INGR.cpp
  libespm/src/MISC.cpp
  libespm/src/SCRL.cpp
  libespm/src/SLGM.cpp
  skymp5-server/cpp/server_guest_lib/GetWeightFromRecord.cpp
  skymp5-server/cpp/server_guest_lib/GetWeightFromRecord.h
  skymp5-server/cpp/server_guest_lib/MpForm.cpp
  skymp5-server/cpp/server_guest_lib/MpForm.h
  skymp5-server/cpp/server_guest_lib/MpObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/MpObjectReference.h
  skymp5-server/cpp/server_guest_lib/script_classes/PapyrusForm.cpp
  skymp5-server/cpp/server_guest_lib/script_classes/PapyrusForm.h
  skymp5-server/cpp/server_guest_lib/script_classes/PapyrusObjectReference.cpp
  skymp5-server/cpp/server_guest_lib/script_classes/PapyrusObjectReference.h
Labels: area:server

#1805 feat(skymp5-server): add playable race filter for espm characters
  skymp5-server/cpp/server_guest_lib/WorldState.cpp
  skymp5-server/cpp/server_guest_lib/WorldState.h
  unit/PartOne_ActivateTest.cpp
Labels: merge-to:indev, merge-to:sweetpie
